ion-app.app-root page-core-login-credentials {
    .scroll-content {
        background: $core-login-page-background-color;
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $core-login-box-background-color;
        border: 1px solid $core-login-box-background-border;
        color: $core-login-box-text-color;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }

    .siteSelect {
        max-width: 300px;
        width: 70% !important;
        align-items: center;
        font-size: 14pt;
        justify-content: center;
        align-self: center;
        margin: auto;
    }

    .selectWrapper {
        margin-top:10px;
    }

    .siteOptions {
        text-align: right;
        direction: rtl;
        align-items: flex-end;
    }
    .alert-wrapper {
        .alert-radio-group{
            .alert-radio-button{
                .button-inner{
                    .alert-radio-label{
                        text-align: right;
                        direction: rtl;
                    }
                }
            }
        }
    }
    .alert-radio-label {
        text-align: right;
        direction: rtl;
    }

}
